<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manulogix.rbash"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.manulogix.rbash.app.WelcomeScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.manulogix.rbash.app.DialogShowActivity" />
        <activity android:name="com.manulogix.rbash.app.UserHomeActivity" />
        <activity android:name="com.manulogix.rbash.app.DishDetailsActivity" />
        <activity android:name="com.manulogix.rbash.app.LoginAppActivity" />
        <activity android:name="com.manulogix.rbash.app.ChooseItemsActivity" />
        <activity android:name="com.manulogix.rbash.app.MyOrdersActivity" />
        <activity android:name="com.manulogix.rbash.app.YourOrderActivity" />
        <activity android:name="com.manulogix.rbash.app.MyProfileActivity" />
        <activity android:name="com.manulogix.rbash.app.AccountSettingsActivity" />
    </application>

</manifest>